/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

/* GENERAL */
body {
	line-height: 1.2em;
	font-family: "Lato", sans-serif;
	font-size: 13px; /*
	font-family: "IBM Plex Serif", serif;
	font-size: 15px;
	line-height: 1.3em;*/
}

article {
	break-before: right; /* page/left/right */
	counter-reset: page 1;
	counter-reset: headingOne 0;
}

/* TÍTULOS DE TEMAS */

header h1 {
	text-align: center;
	string-set: chapterTitle content(text);
}

/* ENCABEZADOS */

section h1::before {
	content: counter(headingOne) ". ";
}

section h1 {
	font-size: 1.3em;
	margin-top: 3.5em;
	margin-bottom: 1em;
	counter-increment: headingOne 1;
	counter-reset: headingTwo 0;
}

section h2::before {
	content: counter(headingOne) "." counter(headingTwo) ". ";
}

section h2 {
	margin-top: 2.5em;
	margin-bottom: 1em;
	font-size: 1.15em;
	font-weight: normal;
	text-transform: uppercase;
	counter-increment: headingTwo 1;
	counter-reset: headingThree 0;
}

section h3 {
	font-size: 0.95em !important;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 2em;
	margin-bottom: 1em;
}

section h4 {
	margin-top: 1.5em;
	margin-bottom: 0;
	font-style: italic;
	font-size: 1.05em;
}

/* FIX ENCABEZADOS QUE COMIENZAN LA PÁGINA */
.pagedjs_page section:first-child > h1,
.pagedjs_page section:first-child > h2,
.pagedjs_page section:first-child > h3,
.pagedjs_page section:first-child > h4 {
	margin-top: 0;
}

/* ELEMENTOS DE PÁRRAFO */

section p {
	/*text-indent: 0.25in;*/
	margin: 0.8em 0 0 0;
}

blockquote {
	margin-right: 0;
}

blockquote.collapse {
	margin-top: 4px;
}

blockquote.paragraph {
	margin-left: 0;
}

blockquote p,
blockquote ul {
	margin: 0.4em 0 0 0 !important;
}

blockquote em {
	font-style: normal;
}

section ul {
	margin-top: 0.8em;
	margin-bottom: 0.1em;
	padding-left: 2em;
}

section ul ul {
	margin-top: 8px;
	margin-bottom: 8px;
}

ul li {
	list-style-type: square;
}

ul.none li {
	list-style: none;
}

li {
	margin-top: 0.2em;
}

p,
li {
	text-align: justify;
	hyphens: auto;
}

strong,
dt,
h3,
header p {
	font-weight: 700;
}

q::before {
	content: "«";
}

q,
blockquote p,
blockquote ul {
	font-style: italic;
}

q::after {
	content: "»";
}

.art {
	/*color: #228b22;*/
	color: #00a36c;
	white-space: nowrap;
	box-shadow: inset 0 0 0 1000px #f7fff7;
	border-radius: 5px;
	text-transform: none !important;
	/*box-shadow: inset 0 0 0 1000px #f1fff1, 5px 0 0 0 #f1fff1, -5px 0 0 0 #f1fff1;
	border-radius: 1em;
	overflow: hidden;*/
}

.list,
.head,
.heading {
	color: #008080;
}

.def,
.ele,
.element {
	color: #d43200; /*#800020*/
	font-style: italic;
}

.info,
.keyword {
	color: #113b75 /*#0F52BA*/;
}

.sub {
	font-size: 0.9em;
	color: #333;
}

.hide {
	display: none;
}

@page {
	size: A4;

	@bottom-center {
		content: string(chapterTitle) " – " counter(page);
	}
}
